<!DOCTYPE html>
<html>
<head>
	<title>Employee Home</title>

</head>
<body>
	<h1>Welcome Home! <%= username %></h1> 

	<a href="/addProduct">Add new product</a>| 
	<a href="/logout">Logout</a>
	
</body>
</html>